In [3]:
print("34","true",34,34.5)

34 true 34 34.5

Question :02
 Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [7]:
print("34","true",34,34.5,sep="-")

34-true-34-34.5

In [11]:

#Question :03
# Using the python print function print any string value, integer value, boolean value, float value in separate print command.
#But every value must be space separated and in single line

In [19]:
print("34")
print(34)
print("true")
print(34.5)

34
34
true
34.5

In [21]:
#Question :04
#Can a python print function take no value to print???

In [25]:
print()
#it need any argument to print but in this condition it prints none

# TOPIC :Variables in Python Operators 
#Question :05
##5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [81]:
friend_name="Mr.Ahmed"
f_age=30
profession="lawyer"
degree_year=2005
company_name='The Himalya Associates'
job_start=2015
personality="handsome"
height=5.10
weight=70600
income=200000
print(friend_name,f_age,profession,degree_year,company_name,job_start,personality,height,weight,income,sep=",")

Mr.Ahmed,30,lawyer,2005,The Himalya Associates,2015,handsome,5.1,70600,200000

In [35]:
#Question:06
#6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [47]:
curr_year=2024
degree_year
sub=curr_year-degree_year
sub

19

In [49]:
#Question :07
#How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [59]:


working_year=curr_year-job_start
working_year

9

In [61]:
#Question :08
#Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [69]:
converter=income*278.97
converter

55794000.00000001

In [71]:
#Question :09
#9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [73]:
int(converter)

55794000

In [75]:
#Question :10
#10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [89]:
f=weight/1000
print(type(f),f)

<class 'float'> 70.6

In [87]:
#convert into int

In [93]:
int(f)

70

In [95]:
#Question :11
##11) print the year of birth of Mr. Ahmed.Also #type your code here

In [103]:
f_age

30

In [105]:
type(f_age)

int

In [107]:
#Question:12
#12) Can Rs. 100 be divided equally among 6 students?
#HINT: % operator (modulo)

In [111]:
divide=100%6
divide

4

In [113]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [119]:
10%2
# all the given condition is true

0